body {
  background-color: rgba(192, 248, 192, 0.863);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin: 40px;
}

footer, a{
  margin: 1rem;
  color: blue;
  font-size: .8rem;
}

@media (max-width: 980px) {
  .container {
    margin: 0 10%;
  }
  footer, a{
    font-size: 0.7rem;
  }
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }

  footer, a{
    font-size: 0.6rem;
  }
}